.footer {
  font-size: 20px;
  text-align: center;
  margin: 40px auto;
  line-height: 20px;
  color: #333333;
  font-weight: normal;
}

.footer a {
  color: #4c8492;
  text-decoration: none;
  font-weight: 400;
}

.footer a:hover {
  color: #ee8466;
  text-decoration: underline;
}
