.WeatherForecastDay .extended-forecast {
  font-size: 19px;
}

.WeatherForecastDay .extended-forecast img {
  width: 90px;
  vertical-align: middle;
}

.WeatherForecastDay .extended-forecast .column-temp {
  text-align: right;
  font-size: 20px;
  line-height: 4.2;
}

.WeatherForecastDay .extended-forecast-temp-max {
  font-weight: bold;
}

.WeatherForecastDay .extended-forecast-temp-min {
  color: #333333;
}
